<h3>Manning Items</h3>
<p>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_277_1_74" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/Node.js_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_270_1_71" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/Netherland_300x250.gif" width="300" height="250" alt="blog banner"></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_267_1_68" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/SpringBatch_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_266_1_66" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/SpringRoo_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_259_1_59" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/MachineLearning_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_249_1_48" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/MacRuby_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_238_1_47" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/ScalainDepth_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_211_1_49" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/ContIntegration_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_154_1_55" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/Dependency_300x250.gif" width="300" height="250" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_112_1_22" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/Skeet.gif" width="217" height="55" alt=""></a>
<br/>
<a href="http://affiliate.manning.com/idevaffiliate.php?id=1272_59_1_54" target="_blank"><img border="0" src="http://affiliate.manning.com/banners/Groovy2E_300x250.gif" width="300" height="250" alt=""></a>
<p>
